* {
	box-sizing: border-box;
} 

html, body {
	margin: 0;
	display: flex;
}

.flur-bvg, .flur-weather {
	margin-right: 10px;
}

.flur-bvg {
	order: 2;
}

.flur-weather {
	order: 1;
}

.flur-bvg-header {
	position: absolute;
    top: 0;
    width: 766px;
	background-color: white;
	text-align: center;
	height: 80px;
    padding-top: 20px;
}

.flur-bvg-header--headline {
	margin: 0;
}

#flur-bvg-iframe {
	display: block;
	width: 767px;
	height: calc(320px + 620px);
	overflow: hidden;
	margin: -345px 0 0 0;
}
